.home-container
{
    border-left:1px solid #E1E8ED;
    border-right:1px solid #E1E8ED;
    padding:0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-header
{
    height: 53px;
    padding: 0 15px;
    border-bottom: 1px solid #E1E8ED;
}

.home-header-text
{
    font-size:19px;
    font-weight: 800;
}

.home-main-container
{
    border-left:1px solid #E1E8ED;
    border-right:1px solid #E1E8ED;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex: 1;
}

